.box {
	margin: 10px auto;
	padding-top: 30px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	font-family: Verdana;
}

.boxItem input, button {
    height: 50px;
    margin-top: 20px;
	font-size: 20px;	
}

.boxItem input {	
	width: 420px;
	padding-left: 15px;
}

.boxItem button {
	width: 290px;
	background-color: green;
	color: 	#FFFFFF;
}
.box p {
	font-size: 15px;
}
.errors{
	color: red;
	font-size: 15px;
}